<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Buttons.css" />
    <title>@ViewBag.Title - Kentucky HBPA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding:0">
    <div id="fb-root"></div>
    <div class="navbar" style="margin:0">
        <div class="col-md-8" style="padding:0" align="left"><a href="/"><img style="height: 55px; padding: 2px" src="https://i.imgur.com/0cdxj3B.png" /></a></div>
        <div class="col-md-4" style="padding:0" align="right">
            <a href="https://www.facebook.com/KYhbpa/"><img class="social" height="55" width="55" src="~/Content/Images/Facebook.png" /></a>
            <a href="https://twitter.com/KyHBPA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img class="social" height="55" width="55" src="~/Content/Images/Twitter.png" /></a>
            <a href="https://www.instagram.com/kentucky.hbpa/"><img class="social" height="55" width="55" src="~/Content/Images/Instagram.png" /></a>
            <a href="https://www.paypal.com/" class="button">Donate</a>
            <a href="Account/Login" class="button">Login</a>
        </div>
    </div>
    <div class="navbar navbar-inverse" style="margin:0">
        <div class="container">
            <div class="navbar-header">
                <div align="left"><a href="/"><img style="height: 35px;" src="https://i.imgur.com/EEkkL7L.png" /></a></div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                            About <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu navbar-inverse">
                            <li>@Html.ActionLink("About Us", "About", "Home")</li>
                            <li>@Html.ActionLink("Board of Directors", "BoardofDirectors", "Home")</li>
                            <li>@Html.ActionLink("Membership", "Membership", "Home")</li>
                            <li>@Html.ActionLink("Documents", "Index", "Documents")</li>
                        </ul>
                    </li> 
                    <li class="dropdown">
                        <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                            News <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu navbar-inverse">
                            <li>@Html.ActionLink("News", "News", "Home")</li>
                            <li>@Html.ActionLink("Events", "Index", "Events")</li>
                            <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
                            <li>@Html.ActionLink("Legislation", "Legislation", "Home")</li>
                        </ul>
                    </li>
                    @*<li>@Html.ActionLink("Surveys", "Index", "Surveys")</li>*@ @*Move to Home as a widget (Partial view if you can...)*@
                    <li>@Html.ActionLink("Gallery", "Index", "Photos")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="background-position: center bottom">
        <div>@RenderBody()</div>

        <hr />
        <footer>
            <p>
                Contact us | <a href="mailto:kentuckyhbpa@gmail.com">kentuckyhbpa@gmail.com</a> | (502) 363-1077 <br />
            </p>
            <p>&copy; @DateTime.Now.Year - Kentucky Horsemen’s Benevolent and Protective Association, Inc. </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
